<a href="https://colab.research.google.com/github/nabilnehme/AAI_634O/blob/main/Week2/LAU_AAI_634O_A11_202520_Nabil_Nehme_Week2_Practical_Exercise_CRUD_Operations_in_MongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.11/dist-packages (4.11)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.11/dist-packages (from pymongo) (2.7.0)

In [22]:
from pymongo import MongoClient

# Replace with your own connection string
#connection_string = "mongodb+srv://<username>:<password>@cluster0.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"
connection_string = "mongodb+srv://nabilnehme:nabilnehme@cluster0.51s8b.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Connect to the MongoDB Atlas cluster
client = MongoClient(connection_string)

# Access a specific database
#db = client['ecommerce']

# Access a collection within the database
#collection = db['products']


# Select the database
db = client.ecommerce

# Select the collection (products)
products = db.products

In [23]:
# CLEAR COLLECTION BEFORE INSERTING
products.delete_many({})  # Deletes all documents in the collection
print("Collection cleared successfully!")

Collection cleared successfully!

#Insert Initial Product Data

In [24]:
# Check if the collection is empty
if products.count_documents({}) == 0:
    print("The collection is empty.")
else:
    # Fetch and print all documents
    for product in products.find():
        print(product)

The collection is empty.

In [25]:
# Insert multiple products
products.insert_many([
    {"name": "Laptop", "price": 1200, "category": "Electronics", "inventory": 10},
    {"name": "T-Shirt", "price": 20, "category": "Clothing", "inventory": 50},
    {"name": "Sofa", "price": 700, "category": "Furniture", "inventory": 5,
     "reviews": [{"user": "Alice", "rating": 4}]}
])

print("Products inserted successfully!")

# Fetch all documents in the collection
for product in products.find():
    print(product)

Products inserted successfully!
{'_id': ObjectId('679cbcf31ce5ca6f56a6946c'), 'name': 'Laptop', 'price': 1200, 'category': 'Electronics', 'inventory': 10}
{'_id': ObjectId('679cbcf31ce5ca6f56a6946d'), 'name': 'T-Shirt', 'price': 20, 'category': 'Clothing', 'inventory': 50}
{'_id': ObjectId('679cbcf31ce5ca6f56a6946e'), 'name': 'Sofa', 'price': 700, 'category': 'Furniture', 'inventory': 5, 'reviews': [{'user': 'Alice', 'rating': 4}]}

#Create: Insert at least 5 more products with varying attributes.

In [26]:
new_products = [
    {"name": "Smartphone", "price": 800, "category": "Electronics", "inventory": 15},
    {"name": "Headphones", "price": 150, "category": "Electronics", "inventory": 30},
    {"name": "Microwave", "price": 250, "category": "Appliances", "inventory": 8},
    {"name": "Dining Table", "price": 600, "category": "Furniture", "inventory": 3},
    {"name": "Gaming Console", "price": 550, "category": "Electronics", "inventory": 20}
]

products.insert_many(new_products)
print("New products inserted successfully!")

# Fetch all documents in the collection
for product in products.find():
    print(product)

New products inserted successfully!
{'_id': ObjectId('679cbcf31ce5ca6f56a6946c'), 'name': 'Laptop', 'price': 1200, 'category': 'Electronics', 'inventory': 10}
{'_id': ObjectId('679cbcf31ce5ca6f56a6946d'), 'name': 'T-Shirt', 'price': 20, 'category': 'Clothing', 'inventory': 50}
{'_id': ObjectId('679cbcf31ce5ca6f56a6946e'), 'name': 'Sofa', 'price': 700, 'category': 'Furniture', 'inventory': 5, 'reviews': [{'user': 'Alice', 'rating': 4}]}
{'_id': ObjectId('679cbcf31ce5ca6f56a6946f'), 'name': 'Smartphone', 'price': 800, 'category': 'Electronics', 'inventory': 15}
{'_id': ObjectId('679cbcf31ce5ca6f56a69470'), 'name': 'Headphones', 'price': 150, 'category': 'Electronics', 'inventory': 30}
{'_id': ObjectId('679cbcf31ce5ca6f56a69471'), 'name': 'Microwave', 'price': 250, 'category': 'Appliances', 'inventory': 8}
{'_id': ObjectId('679cbcf31ce5ca6f56a69472'), 'name': 'Dining Table', 'price': 600, 'category': 'Furniture', 'inventory': 3}
{'_id': ObjectId('679cbcf31ce5ca6f56a69473'), 'name': 'Gaming Console', 'price': 550, 'category': 'Electronics', 'inventory': 20}

#Read: Query all products in the Electronics category where the price is greater than 500.

In [27]:
query = {"category": "Electronics", "price": {"$gt": 500}}
electronics_above_500 = list(products.find(query))

print("\nElectronics Products Above $500:")
for product in electronics_above_500:
    print(product)

Electronics Products Above $500:
{'_id': ObjectId('679cbcf31ce5ca6f56a6946c'), 'name': 'Laptop', 'price': 1200, 'category': 'Electronics', 'inventory': 10}
{'_id': ObjectId('679cbcf31ce5ca6f56a6946f'), 'name': 'Smartphone', 'price': 800, 'category': 'Electronics', 'inventory': 15}
{'_id': ObjectId('679cbcf31ce5ca6f56a69473'), 'name': 'Gaming Console', 'price': 550, 'category': 'Electronics', 'inventory': 20}

#Update: Add a discount field to all Furniture products and update the price accordingly.

In [28]:
discount_percentage = 10  # 10% discount

# Find all furniture products and update their price
furniture_products = products.find({"category": "Furniture"})
for product in furniture_products:
    original_price = product["price"]
    discounted_price = round(original_price * (1 - discount_percentage / 100), 2)

    products.update_one(
        {"_id": product["_id"]},
        {"$set": {"discount": f"{discount_percentage}%", "price": discounted_price}}
    )

print("\nFurniture products updated with discount!")

# Fetch all documents in the collection
for product in products.find():
    print(product)

Furniture products updated with discount!
{'_id': ObjectId('679cbcf31ce5ca6f56a6946c'), 'name': 'Laptop', 'price': 1200, 'category': 'Electronics', 'inventory': 10}
{'_id': ObjectId('679cbcf31ce5ca6f56a6946d'), 'name': 'T-Shirt', 'price': 20, 'category': 'Clothing', 'inventory': 50}
{'_id': ObjectId('679cbcf31ce5ca6f56a6946e'), 'name': 'Sofa', 'price': 630.0, 'category': 'Furniture', 'inventory': 5, 'reviews': [{'user': 'Alice', 'rating': 4}], 'discount': '10%'}
{'_id': ObjectId('679cbcf31ce5ca6f56a6946f'), 'name': 'Smartphone', 'price': 800, 'category': 'Electronics', 'inventory': 15}
{'_id': ObjectId('679cbcf31ce5ca6f56a69470'), 'name': 'Headphones', 'price': 150, 'category': 'Electronics', 'inventory': 30}
{'_id': ObjectId('679cbcf31ce5ca6f56a69471'), 'name': 'Microwave', 'price': 250, 'category': 'Appliances', 'inventory': 8}
{'_id': ObjectId('679cbcf31ce5ca6f56a69472'), 'name': 'Dining Table', 'price': 540.0, 'category': 'Furniture', 'inventory': 3, 'discount': '10%'}
{'_id': ObjectId('679cbcf31ce5ca6f56a69473'), 'name': 'Gaming Console', 'price': 550, 'category': 'Electronics', 'inventory': 20}

#Delete: Remove products with inventory counts less than 5.

In [29]:
# Retrieve products with inventory < 5 before deleting them
deleted_items = list(products.find({"inventory": {"$lt": 5}}))

# Check if there are any items to delete
if deleted_items:
    print("\nDeleted Products:")
    for item in deleted_items:
        print(item)  # Print each deleted document

    # Now, delete the products from the database
    delete_result = products.delete_many({"inventory": {"$lt": 5}})
    print(f"\nTotal Deleted: {delete_result.deleted_count} products with inventory < 5.")
else:
    print("\nNo products found with inventory < 5.")


# Print each document
for product in products.find():
    print(product)

Deleted Products:
{'_id': ObjectId('679cbcf31ce5ca6f56a69472'), 'name': 'Dining Table', 'price': 540.0, 'category': 'Furniture', 'inventory': 3, 'discount': '10%'}

Total Deleted: 1 products with inventory < 5.
{'_id': ObjectId('679cbcf31ce5ca6f56a6946c'), 'name': 'Laptop', 'price': 1200, 'category': 'Electronics', 'inventory': 10}
{'_id': ObjectId('679cbcf31ce5ca6f56a6946d'), 'name': 'T-Shirt', 'price': 20, 'category': 'Clothing', 'inventory': 50}
{'_id': ObjectId('679cbcf31ce5ca6f56a6946e'), 'name': 'Sofa', 'price': 630.0, 'category': 'Furniture', 'inventory': 5, 'reviews': [{'user': 'Alice', 'rating': 4}], 'discount': '10%'}
{'_id': ObjectId('679cbcf31ce5ca6f56a6946f'), 'name': 'Smartphone', 'price': 800, 'category': 'Electronics', 'inventory': 15}
{'_id': ObjectId('679cbcf31ce5ca6f56a69470'), 'name': 'Headphones', 'price': 150, 'category': 'Electronics', 'inventory': 30}
{'_id': ObjectId('679cbcf31ce5ca6f56a69471'), 'name': 'Microwave', 'price': 250, 'category': 'Appliances', 'inventory': 8}
{'_id': ObjectId('679cbcf31ce5ca6f56a69473'), 'name': 'Gaming Console', 'price': 550, 'category': 'Electronics', 'inventory': 20}